/*****************************************************/
/* Home */

#home {
    background-color: #333333;
}

#login-home {
    position: fixed;
    top: 0;
    padding: 20px;
}

#popcorn-home {
    position: relative;
    width: 70%;
    top: 20px;
    left: 25%;
}

#popcorn-home img {
    height: 220px;
}

#form-home {
    position: relative;
    top: 65px;
    left: 55px;
    width: 250px;
}

#btn-login-home {
    background-color: #dc3545;
    width: 250px;
    color: ghostwhite;
}

#title-home {
    width: 200px;
    position: relative;
    left: 50%;
    margin-top: 55px;

    color: #dc3545;
}

#title-home h1 {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    position: relative;
    right: 20px;
}

#slogan {
    font-family: 'Open Sans', sans-serif;
}

#home-video {
    position: fixed;
    right: -151%;
    bottom: -60px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#createUser {
    position: fixed;
    bottom: 17%;
    left: 18%;
}

#createUser a {
    color: #dc3545;
}

/******************************************************/
/*            Create User                 */
/*****************************************************/

#createU {
    position: fixed;
    top: 60%;
    left: 23%;
}

#pw-new-user {
    position: relative;
    left: 35px;
    width: 125px;
    background: #dc3545;
}


/******************************************************/
/*            Logged                 */
/*****************************************************/

#spoily {
    background-color: #23272b;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#popcorn-spoily {
    position: fixed;
    width: 70%;
    top: 38%;
    left: 16%;
    opacity: 1;
}

#popcorn-spoily img {
    width: 100%;
}

#spoily-btn {
    position: fixed;
    bottom: 20%;
    left: 38%;
}

#spoily-conver {
    background-color: ghostwhite;
    border-radius: 15px;
    width: 334px;
    height: 165px;
    position: fixed;
    left: 5%;
    top: 13%;
    text-align: center;
}

#header {
    height: 12%;
    background-color: #dc3545;
}

#header-pop img{
    height: 80px;
    position: relative;
    top: 10px;
    left: 40%;
}

#contenido {
    height: 100%;
    padding-top: 50px;
}

#films {
    background: url("/content/img/infinity-war.jpeg");
}

#films {
    width: 80%;
    padding: 15px;
    margin-top: 20px;
}

#films img {
    width: 350px;
}

#salas {
    width: 80%;
    padding: 15px;
    margin-top: 20px;
}

#salas img {
    width: 350px;
}

#pan {
    height: 20px;
    background-color: ghostwhite;
}

#logout {
    font-size: 60px;
    float: right;
    padding-top: 15px;
    padding-right: 10px;
    color: ghostwhite;
}

#profileIcon {
    font-size: 60px;
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    color: ghostwhite;
}

/******************************************************/
/*            MENU-CARROUSEL                 */
/*****************************************************/

html,body {
    height:100%;
    width:100%;
    position:relative;
}
#background-carousel{
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}
.carousel,
.carousel-inner {
    width:100%;
    height:100%;
    z-index:0;
    overflow:hidden;
}
.item {
    width:100%;
    height:100%;
    background-position:center center;
    background-size:cover;
    z-index:0;
}

#content-wrapper {
    position:absolute;
    z-index:1 !important;
    min-width:100%;
    min-height:100%;
}
.well {
    opacity:0.85
}


/******************************************************/
/*            Profile                 */
/*****************************************************/

#profile {
    background-color: #333333;
}

#profileHeader {
    background-color: #dc3545;
    width: 100%;
    height: 70px;
}

#profileHeader p {
    color: ghostwhite;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    display: block;
    left: 135px;
    top: 0px;
    padding: 5px;
    position: absolute;
}

#profileTitle{
    color: ghostwhite;
    height: 20px;
    position: absolute;
    top: 150px;
    left: 155px;
}

#profileTitle p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

#profileAvatar {
    height: 150px;
    width: 150px;
    position: relative;
    top: 100px;
    left: 112px;

    border: solid #dc3545;
    border-radius: 20px;
    padding: 20px;
}

#profileAvatar img {
    max-width:100%;
    max-height:100%;
}

#userPwDrop {
    width: 250px;
    height: 40px;
    background: #dc3545;
    top: 155px;
    left: 60px;
    position: relative;
}

#userPwDrop p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:  ghostwhite;
}

#userPases {
    width: 250px;
    height: 40px;
    background: #dc3545;
    top: 170px;
    left: 60px;
    position: relative;
}

#userPases p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:  ghostwhite;
}


#changePw {
    top: 175px;
    left: 32px;
    position: relative;
    width: 300px;
}

#changePw input {
    margin: 20px;
}

#changePwForm {
    width: 270px;
}

#pw-new-button {
    position: relative;
    left: 90px;
    width: 125px;
    background: #dc3545;
    color: ghostwhite;
}

#social-media {
    width: 100%;
    position: relative;
    top: 350px;
}

.fa-facebook-square {
    left: 50px;
    position: relative;
    font-size:60px;
    color: #425ebf;
}

.fa-instagram {
    font-size:60px;
    left: 100px;
    position: relative;
    color: #c63d86;
}

.fa-twitter {
    font-size:60px;
    left: 150px;
    position: relative;
    color: deepskyblue;
}

.fa-home {
    font-size: 40px;
    left: 20px;
    top: 13px;
    position: relative;
    color: white;
}

/******************************************************/
/*            CINES                 */
/*****************************************************/

#cines-cines {

}

#title-cines {
    width: 200px;
    position: relative;
    margin-top: 10px;
    margin-left: 15px;
    color: ghostwhite;
}

#title-cines h1 {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    position: relative;
    right: 20px;
}

.cine-card {
    margin-top: 10px;
}

#back-cines {
    margin-left: 35%;
    margin-top: 10px;
}

#back-cines i{
    font-size: 94px;
}


.circleBase {
    border-radius: 50%;
}

.type1 {
    width: 100px;
    height: 100px;
    background: #dc3545;
    border: 3px solid #dc3545;
}

/******************************************************/
/*            ENTRADAS                 */
/*****************************************************/

#cines-venta {
    position: relative;
    top: 50px;
}

#n-entradas {
    width: 110px;
    height: 100px;
    border-radius: 20px;
    font-size: 90px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#n-entradas-sel {
    position: fixed;
    top: 40%;
    left: 36%;
}

#btn-compra-entradas {

}

#more-n {
    position: fixed;
    bottom: 49%;
    left: 74%;
    color: #dc3545;
}

#more-n i {

    font-size: 80px;
}

#less-n {
    position: fixed;
    color: #dc3545;
    bottom: 49%;
    left: 8%;
}

#less-n i {
    font-size: 80px;
}

#submit-entradas {
    position: fixed;
    right: 20px;
    bottom: 10%;
}

#submit-entradas img {
    width: 100%;
}

#back-cartelera {
    position: fixed;
    bottom: 10%;
}

#back-cartelera i{
    font-size: 94px;
}


#precio {
    position: fixed;
    bottom: 27%;
    left: 36%;
    z-index: 1;
    font-size: 30px;
    font-family: Romans;
}

#precioIMG img {
    width: 50%;
    position: fixed;
    bottom: 20%;
    left: 20%;
}

/******************************************************/
/*            CONFIRMACION                 */
/*****************************************************/

#back-compra-entradas {
    position: fixed;
    bottom: 10%;
}

#back-compra-entradas i{
    font-size: 65px;
    position: relative;
    left: 10px;
}

#info-compra {
    position: fixed;
    top: 50%;
    color: ghostwhite;
}

#pop-confir {
    position: fixed;
    right: 10px;
    top: 45%;
    width: 45%;
}

#pop-confir img{
 width: 100%;
}

#confir-bub {
    position: fixed;
    left: 14px;
    top: 25%;
    width: 61%;
}

#confir-bub img {
    width: 100%;
}


/******************************************************/
/*            ERROR                 */
/*****************************************************/


#popcorn-error {
    position: relative;
    width: 70%;
    top: 20px;
    left: 25%;
}

#popcorn-error img {
    height: 220px;
}

#error-msg {
    position: fixed;
    top: 60%;
}

#error-msg p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #dc3545;
    text-align: center;
}

/******************************************************/
/*            PASES                 */
/*****************************************************/

#pases {
    color: ghostwhite;
    position: relative;
    top: 145px;
}

.pases-pase {
    background-color: #dc3545;
    border-radius: 15px;
    text-align: center;
}
#pases-user {

}

#profileTitlePases{
    color: ghostwhite;
    height: 20px;
    position: absolute;
    top: 150px;
    left: 155px;
}

#profileTitlePases p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

#profileAvatarPases {
    height: 150px;
    width: 150px;
    position: relative;
    top: 100px;
    left: 100px;

    border: solid #dc3545;
    border-radius: 20px;
    padding: 20px;
}

#profileAvatarPases img {
    max-width:100%;
    max-height:100%;
}